<div class="container">
    {{# if error}}
        {{# each error}}
            <div class="alert alert-success container mt-5">{{this.msg}}</div>
        {{/each}}
    {{/if}}
    {{# if success_msg}}
        <p>{{success_msg}}</p>
    {{/if}}
    {{#if data}}
        {{# each data}}
            <h1>{{this.title}}</h1>
            {{this.content}}<br>
            <small>{{this.user.firstname}}</small>
        {{# if this.comments}}
            {{# each this.comments}}
                <p>{{this.comment}}</p>
                <small>{{this.name}}</small>
            {{/each}}
        {{/if}}
        {{/each}}
    {{/if}}
</div>
