    {{# if error}}
        {{# each error}}
            <div class="alert alert-success container mt-5">{{this.msg}}</div>
        {{/each}}
    {{/if}}
    {{# if success_msg}}
        <p>{{success_msg}}</p>
    {{/if}}
{{# if data}}
<div class="container mt-5">
<div class="row">{{# each data}}
    <div class="col-md-8">
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{this.title}}</h2>
                <p class="card-text">{{this.content}}</p>
                <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">--{{this.user.firstname}}</a>
            </div>
        </div>
    </div></div>{{/each}}
</div>{{/if}}
